<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nombre %></title>
</head>
<body>
    <div id="formCreate">
        <form action="" id="formCreate">
            <input type="text" placeholder="nombre" name="nombre" id="nombre">
            <input type="text" placeholder="apellido" name="apellido" id="apellido">
            <input type="text" placeholder="correo" name="correo" id="correo">
        </form>

        <button id="boton">
            Guardar
        </button>

        <button id="boton2">
            Actualizar
        </button>
    </div>
    <div id="data">

    </div>

    <% if (id == 1) {%>
        <script src="/js/app.js"></script>
    <% } %>
</body>
</html>